<div class="panel panel-default">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-shopping-cart pull-left"></span> &nbsp;
        Cart
        <a (click)="onClearCart()" class="pull-right" title="Clear Cart">
            <span class="glyphicon glyphicon-trash"></span>
        </a>
    </div>
    <div class="panel-body">
            <select #selectSort (change)="onSelectChange()">
                    <option value="name">Name</option>
                    <option value="price">Price</option>
                    <option value="count">Count</option>
            </select> &nbsp;
            <input type="checkbox" [checked]="sortIsDesc" #isDesc (change)="onCheckBoxChange()"/>
            Is Descending
        <br/>
        <div *ngIf="cartList && cartList.length>0; else emptyCart">
            <div *ngFor="let cartItem of cartList | orderBy: sortByField: sortIsDesc">
                <app-cart-item [cartItem]="cartItem" (removeCartItem)="onCartItemRemoving($event)"
                    (plusOne)="onPlusOne($event)" (minusOne)="onMinusOne($event)"></app-cart-item>
            </div>
            <div class="pull-left">
                <b>Total count</b>: {{ totalCount }}
            </div>
            <div class="pull-right">
                <b>Total price</b>: {{ totalPrice | currency : '₴'}}
            </div>
        </div>
        <ng-template #emptyCart>
            The cart is empty
        </ng-template>
    </div>
</div>