<div appBgChanger class="panel-body">
    {{cartItem.product.name}} - size: {{cartItem.product.selectedSize}} - {{cartItem.product.price * cartItem.count | currency : '₴'}}
    <a (click)="removeProductFromCart(cartItem)" class="pull-right" style="margin-left: 15px;">
        <span class="glyphicon glyphicon-remove"></span>
    </a>
  
    <div class="pull-right">
        <a (click)="minusOneCartItem()"> <span class="glyphicon glyphicon-minus"></span></a>
        {{cartItem.count}}
        <a (click)="plusOneCartItem()"> <span class="glyphicon glyphicon-plus"></span></a>
    </div>
</div>