<div class="panel panel-default">
    <div class="panel-heading">Cart
        <span class="glyphicon glyphicon-shopping-cart pull-right"></span>
    </div>
    <div class="panel-body">
        <div *ngIf="cartList && cartList.length>0; else emptyCart">
            <div *ngFor="let product of cartList">
                <div>
                    {{product.name}}
                    <a (click)="removeProductFromCart(product)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </div>
            </div>
        </div>
        <ng-template #emptyCart>
            The cart is empty
        </ng-template>
    </div>
</div>