<div *ngIf="(cartList$| async)?.length > 0; else emptyCart">
    <a (click)="onClearCart()" class="pull-right" title="Clear Cart">
        <span class="glyphicon glyphicon-trash"></span>
    </a>
    <router-outlet></router-outlet>
    <select #selectSort (change)="onSelectChange()">
        <option value="name">Name</option>
        <option value="price">Price</option>
        <option value="count">Count</option>
    </select> &nbsp;
    <input type="checkbox" [checked]="sortIsDesc" #isDesc (change)="onCheckBoxChange()" />
    Is Descending
    <br />

    <div *ngFor="let cartItem of cartList$ | async | orderBy: sortByField: sortIsDesc">
        <app-cart-item [cartItem]="cartItem" (removeCartItem)="onCartItemRemoving($event)" (plusOne)="onPlusOne($event)"
            (minusOne)="onMinusOne($event)">
        </app-cart-item>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="pull-left">
                <b>Total count</b>: {{ totalCount }}
            </div>
            <div class="pull-right">
                <b>Total price</b>: {{ totalPrice | currency : '₴'}}
            </div>
        </div>
    </div>
    <button class="btn btn-primary pull-right" (click)="onOrderCreating()" style="margin-top: 10px">Create
        Order</button>
</div>
<ng-template #emptyCart>
    The cart is empty
</ng-template>